@tailwind base;
@tailwind components;
@tailwind utilities;

h1 ul li{
    @apply px-3;
}
.bg-primary{
    background: rgb(10, 10, 10);
}
.bg-sec{
    background: black;
}
.img{
    border-radius: 50%;
}
.font{
    font-size: 6rem;
    text-shadow:0cap;
    text-shadow: 2px 2px teal-400;
}
.project{
    @apply absolute left-0 right-0 bottom-0 top-0 bg-black text-white opacity-0 duration-500 hover:opacity-100;
}
.form {
  width: 50%; 
  height: 30%;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.6em;
  background-color: #171717;
  //background-color: #0a192f;
  border-radius: 20px;
}
.form-heading {
  text-align: center;
  margin: 3em;
  color: #64ffda;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}
.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}
.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #64ffda;
  font-weight: bold;
  outline: 1px solid #64ffda;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #64ffda;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}
